@media screen and (max-width: 576px){
    /* navbar resposive */
    .nav-hamburger-menu{
        display: block;
        margin-top: 15px;
    }
    .navbar-home{
        display: none;
    }
    .navbar{
        max-width: 100%;
        margin: 20px;
    }
    /* banner-1 responsive */
    .banner-1{
        flex-direction: column;
        margin: 20px;
        max-width: 100%;
    }
    .banner-1-text{
        max-width: 100%;
    }
    /* .banner-1-text , .image-site{
        wi;
    } */
    /* .image-site{
       
    } */
    .banner-1-text h1 {
        font-size: 2.4rem;
    }
    .banner-1-text p{
        margin-bottom: 14px;
    }
    .media-btn{
        max-width: 100%;
        display: flex;
        gap: 10px;
    }
    .banner-1-text button{
        width: 80%;
    }
    .image-site{
        margin-top: 30px;
        justify-content: center;
        align-items: center;
    }
    .image-site img{
        max-width: 80%;
        margin: 0 auto;
        margin-left: 50px;
    }
    .button-blr{
        margin-left: 20px;
    }
    /* banner-2 responsive */
    .banner-2-text{
        margin-top: 380px;
    }
    .banner-2-text h1{
        font-size: 2rem;
    }
    .img-with-txt-box{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    /* banner-3 responsive */
    .banner-3{
        display: grid;
        gap: 20px;
    }
    .banner-3-text h1{
        font-size: 2rem;
    }
    /* banner-4 */
    .banner-4-BMI{
        margin-left: 50px;
        margin-top: 20px;
    }
    .banner-4-BMI h1{
        font-size: 1.75rem;
    }
    .banner-4-BMI p{
        font-size: 0.87rem;
    }
    /* banner-4 calcu */
    .banner-4-BMI-Calcu{
        margin-top: 20px;
        padding: 40px;
        display: grid;
        gap: 0;
    }
    .chart{
        max-width: 80%;
    }
    .chart h1{
        font-size: 1rem;
    }
    /* calculate */
    .calculate{
        margin-top: 20px;
        max-width: 80%;
        /* border: 2px solid red; */
    }
    .calculate h1{
        font-size: 1rem;
    }
    .bmi-cal-box{
        grid-template-columns: 1fr,fr;
        gap: 15px;
    }
    .bmi-cal{
        width: 100%;
    }
    .bmi-cal-box select:last-child{
        grid-template-columns: span 2;
        width: 100%;
    }
    /* banner-5-meet */
    .banner-5-meet h1{
        font-size: 2rem;
        /* color: red; */
    }
    .trainer-info-img{
        grid-template-columns: repeat(1, 1fr);
    }
    /* banner-6 css */
    .banner-6{
        padding: 40px;
    }
    .banner-6-1{
        display: grid;
        gap: 20px;
    }
}