@media screen and (max-width: 576px){
    .nav-hamburger-menu{
        display: block;
        margin-top: 15px;
    }
    .navbar-home{
        display: none;
    }
    .navbar{
        max-width: 100%;
    }
}