/* font style */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-variation-settings:"slnt" 0;
}
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');
.qo-regular{
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
  }
.full-bg-color{
    background-color: black;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.display-flex{
    display: flex;
}
.nav-banner{
    /* border: 2px solid red; */
    max-width: 100%;
    background:linear-gradient(180deg,black,#353435, black);
    /* background-size: cover;
    background-attachment: fixed;
    background-position: center; */
}
/* font color */
.font-p-gray{
    color: #FFFFFF80;
}
/* navbar css style */

.navbar{
    /* border: 2px solid red; */
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
    /* padding: 28px; */
    margin-top: 28px;
}

.fitness{
    color: #E6533C;
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 800;
    /* border: 2px solid red; */
}
/* navbar home style */
.navbar-home{
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 60px;
}
.navbar-home button{
    padding: 12px;
    color: white;
    background-color: black;
    border: none;
    font-size: 1.1rem;
    border-radius: 60px;
    margin: 2px;
    margin-left: 40px;
}
.navbar-home #home{
    background-color: #E6533C;
    border-radius: 60px;
    font-weight: bold;
    margin-left: 2px;
    padding: 10px 25px;
}
.nav-hamburger-menu{
    display: none;
}
/* banner-1 style css */
.banner-1{
    /* border: 2px solid red; */
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
    /* padding: 28px; */
    margin-top: 96px;
    /* max-height: 500px; */
}
.banner-1-text{
    /* border: 2px solid red; */
    max-width: 60%;
}
.banner-1-text h1{
    font-size: 4.8rem;
    margin-bottom: 28px;
}
.banner-1-text button{
    margin-top: 28px;
}
.media-btn{
    margin-bottom: 70px;
}
.join{
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-color: #E6533C;
    border: none;
    font-size: 1.1rem;
    border-radius: 60px;
}
#download{
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-color: black;
    border: solid 1px #FFFFFF;
    font-size: 1.1rem;
    border-radius: 60px;
}
.image-site{
    /* border: 2px solid red; */
}
.image-site img{
    margin-top: -85px;
    /* border: 2px solid red; */
}

.button-blr{
 box-sizing: border-box;
 border: 1px solid rgba(255, 255, 255, 0.1);
 border-radius: 12px;
 backdrop-filter: blur(20px);
 background-color: rgba(48, 48, 48, 0.54);
 max-width: 50%;
 align-items: center;
 padding: 20px;
 /* gap: 10px; */
 margin-top: -200px;
 margin-left: -100px;
}
.red-dot{
    background-color: rgb(230, 83, 60);
    border-radius: 100%;
    height: 40px;
    width: 40px;
}
.btn-txt{
    /* border: 2px solid red; */
    text-align: left;
    margin-left: 10px;
}
.btn-txt h2{
    font-size: 1.5rem;
}
.button-blr-1{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background-color: rgba(48, 48, 48, 0.54);
    max-width: 60%;
    align-items: center;
    padding: 10px;
    /* gap: 10px; */
    margin-left: 230px;
    margin-top: -350px;
}
.button-blr-1 h2{
    font-size: 2.5rem;
}
/* banner-2 txt style css */
.banner-2-text{
    /* border: 2px solid red; */
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 230px;
    margin-bottom: 50px;
}
.banner-2-text h1{
    font-size: 3rem;
}
.p-gym{
    margin-top: 15px;
    /* font-size: 0.8rem; */
}
/* banner-2 img with txt css style */
.img-with-txt-box{
    /* border: 2px solid red; */
    /* margin-top: 500px; */
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.img-with-txt{
    /* border: 2px solid blue; */
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}
.img-with-txt img{
    border: 3px solid gray;
    border-radius: 50%;
}
.img-with-txt h3{
    margin-top: 30px;
    font-size: 1.2rem;
}
.img-with-txt p{
    margin-top: 8px;
    color: #FFFFFF80;
    font-size: 0.88rem;
}
/* banner-3 css style */
.banner-3{
    /* border: 2px solid red; */
    background-color: #222222;
    border-radius: 18px;
    margin-top: 40px;
    max-width: 80%;
    margin: 0 auto;
    gap: 100px;
}
.banner-3-text{
    /* max-width: 50%; */
    margin-left: 54px;
    /* border: 2px solid red; */
}
.banner-3-text h1{
    margin-top: 41px;
    font-size: 3rem;
}
.banner-3-text p{
    margin-top: 14px;
}
.banner-3-text button{
    margin-top: 34px;
}
.banner-3-img{
    /* border: 2px solid red; */
    /* max-width: 80%; */
    margin-left: 100;
    padding: 30px;
    overflow: hidden;
}
.banner-3 img{
    /* border: 2px solid blue; */
    border-radius: 18px;
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: none;
    object-position: 65% 29%;
    /* margin: 0 auto;
    margin: 30px; */
    /* /* margin-left: 0; */
}
/* banner-4 bmi banner */
.banner-4-BMI{
    /* border: 2px solid red; */
    max-width: 50%;
    margin: 0 auto;
    margin-top: 88px;
}
.banner-4-BMI p{
    margin-top: 14px;
}

/* banner-4-BMI-Calcu */
.banner-4-BMI-Calcu{
    gap: 200px;
    background-color: #222222;
    margin-top: 88px;
    padding: 20px 200px;
    max-width: 100%;
}
.chart{
    /* border: 2px solid red; */
    max-width: 50%;
}
.calculate{
    /* border: 2px solid red; */
    max-width: 50%;
}
/* bmi chart */
.chart-1{
    margin-top: 52px;
}
.bmi-chart{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.bmi-chart th, .bmi-chart td{
    border: 1px solid #FFFFFF80;
    padding: 10px;
    /* text-align: center; */
    text-align: left;
    color: white;
}
.bmi-chart th{
    /* background-color: #E6533C; */
    color: #FFFFFF80;
    font-weight: normal;
}
.bmi-chart td{
    background-color: #222222;
}
/* bmi calculate */
.calculate p{
    margin-top: 14px;
}
.bmi-cal-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
    max-width: 100%;
    /* border: 2px solid red; */
}
.bmi-cal-box select:last-child{
    grid-column: span 2;
    width: 100%;
}
.bmi-cal{
    background-color: #333;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 1rem;
}
.bmi-cal::placeholder{
    color: #bbb;
}
.calculate button{
    margin-top: 34px;
}
/* banner-5 meet */
.banner-5-meet{
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-top: 88px;
    margin-bottom: 58px;
}
/* banner-5 trainer-info */
.trainer-info-img{
    max-width: 80%;
    /* margin-top: 58px; */
    margin: 0 auto;
    background-color: #FFFFFF1A;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}
.trainer-card{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.trainer-card img{
    width: 380px;
    height: 270px;
    object-fit: cover;
    transform: scale(1,1);
    display: block;
    border-radius: 10px;
}
.trainer-info{
    /* border: 2px solid red; */
    /* margin-bottom: 70px; */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: left;
    box-sizing: border-box;
}
.trainer-info h3{
    margin: 0;
    font-size: 1.2rem;
}
.trainer-info p{
    margin: 5px 0 0;
    font-size: 0.8rem;
}
/* banner-6 */
.banner-6{
    background-color: #222222;
    margin-top: 88px;
    padding: 20px 200px;
    max-width: 100%;
}
.banner-6-1{
    gap: 130px;
}
.banner-6 p{
    margin-top: 20px;
}
nav li{
    /* color: red; */
    list-style: none;
    margin-top: 20px;
}
.last-fotter{
    text-align: center;
    font-size: 1.25;
}
.last-fotter hr{
    margin-top: 79px;
    border: 1px solid gray;

}

