/* font style */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-variation-settings:"slnt" 0;
}
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');
.qo-regular{
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
  }
.full-bg-color{
    background-color: black;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.display-flex{
    display: flex;
}
.nav-banner{
    /* border: 2px solid red; */
    max-height: 715px;
}
/* font color */
.font-p-gray{
    color: #FFFFFF80;
}
/* navbar css style */

.navbar{
    /* border: 2px solid red; */
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
    /* padding: 28px; */
    margin-top: 28px;
}

.fitness{
    color: #E6533C;
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 800;
    /* border: 2px solid red; */
}
/* navbar home style */
.navbar-home{
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 60px;
}
.navbar-home button{
    padding: 12px;
    color: white;
    background-color: black;
    border: none;
    font-size: 1.1rem;
    border-radius: 60px;
    margin: 2px;
    margin-left: 40px;
}
.navbar-home #home{
    background-color: #E6533C;
    border-radius: 60px;
    font-weight: bold;
    margin-left: 2px;
    padding: 10px 25px;
}
.nav-hamburger-menu{
    display: none;
}
/* banner-1 style css */
.banner-1{
    /* border: 2px solid red; */
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
    /* padding: 28px; */
    margin-top: 96px;
    max-height: 500px;
}
.banner-1-text{
    /* border: 2px solid red; */
    max-width: 60%;
}
.banner-1-text h1{
    font-size: 4.8rem;
    margin-bottom: 28px;
}
.banner-1-text button{
    margin-top: 28px;
}
#join{
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-color: #E6533C;
    border: none;
    font-size: 1.1rem;
    border-radius: 60px;
}
#download{
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-color: black;
    border: solid 1px #FFFFFF;
    font-size: 1.1rem;
    border-radius: 60px;
}
.image-site{
    /* border: 2px solid red; */
}
.image-site img{
    margin-top: -85px;
    /* border: 2px solid red; */
}

.button-blr{
 box-sizing: border-box;
 border: 1px solid rgba(255, 255, 255, 0.1);
 border-radius: 12px;
 backdrop-filter: blur(20px);
 background-color: rgba(48, 48, 48, 0.54);
 max-width: 50%;
 align-items: center;
 padding: 20px;
 /* gap: 10px; */
 margin-top: -200px;
 margin-left: -100px;
}
.red-dot{
    background-color: rgb(230, 83, 60);
    border-radius: 100%;
    height: 40px;
    width: 40px;
}
.btn-txt{
    /* border: 2px solid red; */
    text-align: left;
    margin-left: 10px;
}
.btn-txt h2{
    font-size: 1.5rem;
}
.button-blr-1{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background-color: rgba(48, 48, 48, 0.54);
    max-width: 60%;
    align-items: center;
    padding: 10px;
    /* gap: 10px; */
    margin-left: 230px;
    margin-top: -350px;
}
.button-blr-1 h2{
    font-size: 2.5rem;
}
/* banner-2 txt style css */
.banner-2-text{
    /* border: 2px solid red; */
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 250px;
}
.banner-2-text h1{
    font-size: 3rem;
}
.p-gym{
    margin-top: 15px;
    /* font-size: 0.8rem; */
}
/* banner-2 img with txt css style */
.img-with-txt-box{
    /* border: 2px solid red; */
    margin-top: 58px;
}
.img-with-txt{
    /* border: 2px solid blue; */
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}
.img-with-txt img{
    border: 3px solid gray;
    border-radius: 50%;
}
.img-with-txt h3{
    margin-top: 30px;
    font-size: 1.2rem;
}
.img-with-txt p{
    margin-top: 8px;
    color: #FFFFFF80;
    font-size: 0.88rem;
}